.selecionado {
  background-color: #456882 !important;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 350px;
  max-width: 450px;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      width: 120%;
      font-weight: 700;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
