<p-card header="Card Game">
  @if (cardAtual) {
  <p>{{ cardAtual.pergunta }}</p>
  @for (item of cardAtual.alternativas; track $index) {
  <p-card
    (click)="escolherResposta(item)"
    [ngClass]="{
      selecionado: item === resposta
    }"
  >
    <ng-template pTemplate="content">
      {{ item }}  
    </ng-template>
  </p-card>

  <!-- <p>{{item}}</p>   -->
  } }
  <div>
    <button pButton pRipple label="Cancelar"></button>
    <button
      pButton
      pRipple
      label="Confirmar"
      [disabled]="step === cards.length - 1"
      (click)="confirmar()"
    ></button>
  </div>
</p-card>
