<p-card>
  <div class="card">
    <div class="card__info">
      @if (cardAtual) {
      <p>{{ cardAtual.pergunta }}</p>
      @for (item of cardAtual.alternativas; track $index) {
      <button
        pButton
        pRipple
        [raised]="true"
        severity="info"
        [loading]="loading"
        (click)="escolherResposta(item.alternativa)"
        [id]="item"
        [ngClass]="{
          selecionado: item.alternativa === resposta
        }"
        [label]="item.alternativa"
      ></button>
      } }
    </div>
    <div class="card__buttons">
      <button
        pButton
        pRipple
        label="Voltar para home"
        (click)="voltarHome()"
      ></button>
      <button
        pButton
        pRipple
        label="Confirmar"
        [disabled]="!resposta"
        [loading]="loading"
        (click)="confirmar()"
      ></button>
    </div>
  </div>
</p-card>
<p-toast />
