.sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.25rem 1rem;
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    @media (max-width: 768px) {
      h2 {
        font-size: 1rem;
      }
    }
  }
  &__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  img {
    width: 70px;
  }
}
