<div class="login">
  <div class="login__background">
    <div class="login__img">
      <img
        src="../../../assets/img/Farma-Educ-Logo.png"
        alt="Mascote FarmaEduc"
      />
      <p>FarmaEduc
      </p>
    </div>

    <h1 class="login__title">Bem-vindo ao FarmaEduc</h1>

    <div class="login__box">
      <form [formGroup]="loginForm" class="login__form" id="form">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            pInputText
            formControlName="email"
            class="email"
            id="email"
          />
        </div>

        <div>
          <label for="password">Senha</label>
          <input
            formControlName="password"
            type="password"
            name="password"
            pInputText
            id="password"
          />
        </div>
      </form>
    </div>
    <div class="login__buttons">
      <button
        class="btn btn--primary"
        pButton
        pRipple
        label="Cadastrar-se"
        (click)="irParaCadastro()"
      ></button>

      <button (click)="irParaCadastro()" class="btn btn--secondary" pButton pRipple label="Login"></button>
    </div>
  </div>
</div>
