<p-card header="Login" class="login">
  <div class="login__img">
    <img src="" alt="" />
  </div>

  <form [formGroup]="loginForm" class="login__form" id="form">
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        pInputText
        formControlName="email"
        class="email"
        id="email"
      />
    </div>

    <div>
      <label for="password">Senha</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        pInputText
        id="password"
      />
    </div>

  </form>

  <div class="login__buttons">
    <button
      pButton
      pRipple
      label="Cadastrar-se"
      (click)="irParaCadastro()"
    ></button>
    <button pButton pRipple label="Login"></button>
  </div>
</p-card>
